{:paths ["db" "resources" "src"]

 :deps
 {org.clojure/clojure            {:mvn/version "1.11.3"}
  org.xerial/sqlite-jdbc         {:mvn/version "3.46.0.0"}
  co.uk.codesmithconsulting/smee {:git/url "https://github.com/codesmith-consulting/smee.git"
                                  :git/sha "d62fd05d3caf72861d16009e8e587e7bab8fb611"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "cognitect.test-runner"]
   :extra-deps
   {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                               :git/sha     "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}

  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.2.0"}}}}}
